@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato-Black';
  src: url('../fonts/Lato-Black.ttf');
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Lato-Light';
  src: url('../fonts/Lato-Light.ttf');
}

@font-face {
  font-family: 'tahoma';
  src: url('../fonts/tahoma.ttf');
}

body {
	margin: 0;
	padding: 0;
	position: fixed;
	overflow: hidden;
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-webkit-user-drag: none;
	-ms-content-zooming: none;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	word-wrap: break-word;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	font-family: 'Lato', sans-serif;
}

a {
	color: unset !important;
	text-decoration: unset !important;
}

p, ul {
	margin: 0px !important;
}

.close-btn {
	position: absolute;
    top: 20px;
    right: 20px;
    background: url(../icon/close.png) no-repeat;
    height: 25px;
    width: 25px;
    background-size: contain;
    -webkit-filter: invert(100%);
    filter: invert(80%);
    cursor: pointer;
}

.copyright {
	font-size: 10px;
	position: absolute;
	color: #eaeaea;
	bottom: 20px;
	left: 10px;
}

.animated {
	animation-duration: 1s !important;
	-webkit-animation-duration: 1s !important;
}

.delayed-anime {
	animation-delay: 1s !important;
	-webkit-animation-delay: 1s !important;
}

.fp-controlArrow {
	border: none !important;
	width: 25px !important;
	height: 25px !important;
	bottom: 20px !important;
	top: unset !important;
}

.fp-prev {
	left: unset !important;
	right: 90px !important;
	background: url('../icon/left.png') no-repeat;
	animation: wobble 2s infinite;
}

.fp-next {
	left: unset !important;
	right: 15px !important;
	background: url('../icon/right.png') no-repeat;
	animation: wobble 2s infinite;
}

.connect {
	position: absolute;
	right: 50px;
	top: 60%;
	display: flex;
	flex-flow: row;
	color: white;
	z-index: 2;
	transform: rotate(90deg);
	transform-origin: 100% 100%;
	font-size: 0.8rem;
}

.connect span {
	padding: 0px 30px;
	position: relative;
}

.connect span::before {
	content: '';
    height: 3px;
    width: 0%;
    position: absolute;
    top: 110%;
    left: 30px;
    background-color: white;
    transition: all 1s;
}

.connect span:hover::before {
	width: 45%;
}

.connect span:first-of-type:hover::before {
	width: 42%;
}

.connect-mobile {
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 1;
}

.linkedin {
	background: url("../icon/linkedin.png") no-repeat;
	background-size: 100%;
	width: 25px;
	height: 25px;
	display: inline-block;
	margin: 5px;
	-webkit-filter: invert(100%);
    filter: invert(65%);
}

.twitter {
	background: url("../icon/twitter.png") no-repeat;
	background-size: 100%;
	width: 25px;
	height: 25px;
	display: inline-block;
	margin: 5px;
	-webkit-filter: invert(100%);
    filter: invert(65%);
}

.facebook {
	background: url("../icon/facebook.png") no-repeat;
	background-size: 95%;
	width: 25px;
	height: 25px;
	display: inline-block;
	margin: 5px;
	-webkit-filter: invert(65%);
    filter: invert(65%);
}

.scroll-btn {
	position: absolute;
	cursor: pointer;
	z-index: 1;
	bottom: 10px;
	left: 20px;
	width: 50px;
	height: 50px;
	background: url('../icon/scroll.png') no-repeat;
}

.button-invert {
	filter: invert(100%);
}

.header {
	z-index: 1;
	width: 100%;
	padding: 30px 10px 30px 10px;
	position: absolute;
	top:0;
	left:0;
	transition: 1s all;
}

.header-invert {
	background-color: rgb(50,51,52);
}

.title {
	background: url('../icon/logo_bw.png') no-repeat;
	background-size: 75%;
    background-position: left;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 20px;
    top:2vh;
    z-index: 1;
    cursor: pointer;
}

.title:hover {
	background: url('../icon/logo_color.png') no-repeat;
	background-size: 76%;
    background-position: left;
}

.menu {
	list-style: none;
	padding: 0px;
	margin: 0px;
	text-align: center;
	display: flex;
	flex-flow: row;
	justify-content: flex-end;
	color: white;
}

.menu li {
	display: inline;
	position: relative;
	padding: 5px 15px;
	margin: 0px 10px;
	cursor: pointer;
}

.menu li span {
	z-index: 1;
	position: relative;
	font-family: 'Lato-Bold', sans-serif;
	font-size: 0.8rem;
	font-weight: bold;
}

.menu li::before {
	content: attr(data-visual-label);
	position: absolute;
	top: 5px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-color: #f35d19;
    transition: transform .3s cubic-bezier(.645,.045,.355,1);
    font-family: 'Lato-Bold', sans-serif;
    font-size: 0.8rem;
    z-index: 2;
    line-height: 1.8;
    transform: perspective(50vh) rotateX(-90deg) translateY(100%);
}

.menu li:hover::before, .active-menu::before {
	transform: perspective(50vh) rotateX(0deg) translateY(0%) !important;
}

.landing-page {
	width: 100%;
	height: 100%;
}

.slide {
	background-size: cover !important;
	background-position: bottom right !important;
	color: white;
	position: relative;
}

.slide-1 {
	background: url('../images/bg_1.jpg') no-repeat;
}

.slide-2 {
	background-position: bottom left !important;
	background: url('../images/bg_2.jpg') no-repeat;
}

.slide-3 {
	background: url('../images/bg_3.jpg') no-repeat;
}

.slide-4 {
	background: url('../images/bg_4.jpg') no-repeat;
}

.testimonial-box {
	max-width: 40vw;    
	position: relative;
	top: -25px;
}

.expanded-box {
	max-width: 45vw !important;
}

.float-right {
	float: right;
	margin-right: 8vw;
}

.float-left {
	float: left;
	margin-left: 8vw;
}

.big-text {
	font-size: 3rem;
	display: block;
	margin-left: 10vw;
}

.bigger-text {
	font-size: 3rem;
	display: block;
}

.mid-text {
	font-size: 1.3rem;
	display: block;
	font-style: italic;
	margin-bottom: 15px;
}

.small-text {
	font-size: 1rem;
	display: block;
	color: #eaeaea;
	margin-left: 10vw;
}

.mobile-view {
	display: none !important;
}

.annotation {
	color: #f35d19;
	font-size: 1rem;
	display: block;
	float: right;
	margin-top: 30px;
}

.ellie-mae-logo {
	background: url('../images/elimae_logo.png') no-repeat;
	width: 150px;
	height: 150px;
	display: block;
	background-size: 100%;
}

.page-3 .block-1 {
	margin-top: 89px;
	height: 500px;
	display: flex;
	flex-flow: row;
	position: relative;
}

.page-3 .block-2 { 
	height: 300px;
	background: rgb(245,246,247);
}

.page-3 .block-3 {
	height: 250px;
	background: white;
}

.page-3 .block-4 {
	height: 1000px;
	background: linear-gradient(#f3f3f3, white);
}

.page-3 .block-5 {
	height: 350px;
	background: #f3f3f3;
}

.page-3 .block-1 .sub-block-1 {
	width: 55%;
	background: url('../images/bg_sec_3_1.jpg') no-repeat;
	background-size: cover;
    filter: grayscale(100%) brightness(110%) contrast(90%);
}

.page-3 .block-1 .sub-block-2 {
	width: 22.5%;
	display: flex;
	flex-flow: column;
}

.page-3 .block-1 .sub-block-2 .upper-sec {
	height: 40%;
	background: black;
}

.page-3 .block-1 .sub-block-2 .lower-sec {
	height: 60%;
	background: rgb(255,166,37);
	font-size: 1.1rem;
	font-style: italic;
	font-family: 'Lato-Light';
	color: white;
	padding: 30% 10%;
	position: relative;
}

.page-3 .block-1 .sub-block-2 .lower-sec::before {
	content: '';
	width: 50%;
	height: 3px;
	background: white;
	position: absolute;
	bottom: 0px;
	left: 0px;
	margin: 30% 10%;
}

.page-3 .block-1 .sub-block-3 {
	width: 22.5%;
	background: #666666;
}

.about-us {
	color: #666666;
	width: 800px;
	height: 100%;
	display: flex;
	flex-flow: row;
	margin: auto;
	justify-content: center;
}

.about-us-left {
	width: 200px;
	position: relative;
	color: #333333;
	font-family: 'Lato-Bold';
	margin: 30px 30px 30px 10px;
	font-size: 3rem;
	border-top: 3px solid rgb(56,131,212);
}

.about-us-left div {
	width: 80%;
	margin-top: 10px;
	white-space: pre-wrap;
}

.about-us-right {
	width: 600px;
	margin: 30px 0px;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
}

.about-us-right p, .about-us-right li {
	font-family: 'Lato-Light';
	font-size: 1.2rem;
}

.about-us-right ul {
	padding-top: 20px;
}

.our-strengths {
	width: 800px;
	margin: auto;
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
}

.our-strengths-title {
	font-size: 1.5rem;
	color: #333333;
	padding: 10px;
	padding-top: 20px;
	font-family: 'Lato-Bold';
}

.our-strengths-content {
	color: #666666;
	font-family: 'Lato-Light';
	font-size: 1.2rem;
	padding: 20px 10px;
}

.about-team {
	width: 800px;
	margin: auto;
	height: 100%;
	position: relative;
	display: flex;
	flex-flow: column;
}

.about-team-title {
	font-size: 1.5rem;
	color: #333333;
	padding: 20px 10px 10px 10px;
	font-family: 'Lato-Bold';
}

.about-team-content {
	color: #666666;
	font-family: 'Lato-Light';
	font-size: 1.2rem;
	padding: 10px 10px 20px 10px;
}

.about-team-team {
	padding: 10px;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
}

.team-member {
	width: 25%;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.member-pic {
	width: 180px;
	height: 180px;
	background: #333333;
}

.member-name {
	font-family: 'Lato-Bold';
	font-size: 13px;
	padding-top: 5px;
}

.member-title {
	font-family: 'Lato-Light';
	font-size: 12px;
	padding-bottom: 25px;
}

.vision {
	width: 800px;
	margin: auto;
	height: 100%;
	position: relative;
	display: flex;
	flex-flow: column;
}

.vision-title {
	font-size: 1.5rem;
	color: #333333;
	padding: 20px 10px 10px 10px;
	font-family: 'Lato-Bold';
}

.vision p {
	padding: 10px;
	font-family: 'Lato-Light';
	font-size: 1.2rem;
}

.vision li {
	font-family: 'Lato-Light';
	font-size: 1.2rem;
}

@media screen and (max-width:500px) {
	.menu-box, .fp-controlArrow, .connect, .scroll-btn, .large-screen {
		display: none;
	}
	.menu-box {
		position: absolute;
		height: 100vh;
		width: 100vw;
		left:0;
		top: 0;
		background: #0e1922;
	}
	.menu-box .menu {
		flex-flow: column;
		justify-content: center;
		margin-top: 50%;
	}
	.menu li span {
		font-size: 1rem;
	}
	.mobile-view {
		display: block !important;
	}
	.content-box, .testimonial-box {
		background: rgba(0, 0, 0, 0.5);
		padding: 30px 10px;
	}
	.big-text {
		font-size: 2.2rem;
	}
	.slide-1 {
		background-position: 87% 100% !important;
	}
	.slide-1 .fp-tableCell {
		position: relative;
		top: -140px;
	}
	.slide-2 {
		background-position: 35% 100% !important;
	}
	.slide-2 .testimonial-box {
		margin-right: 10px !important;
	}
	.mid-text {
		font-size: 0.8rem;
	}
	.annotation {
		font-size: 0.7rem;
		margin-top: 10px;
	}
	.slide-3 .testimonial-box {
		float: right !important;
		margin-left: 0;
		margin-right: 10px;
	}
	.slide-4 {
		background-position: 70% 100% !important;
	}
	.slide-4 .testimonial-box {
		position: relative;
		top: -50px;
	}
	.slide-4 .bigger-text {
		font-size: 1rem;
	}
}
