@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
	font-family: 'Lato-Black';
	src: url('../fonts/Lato-Black.ttf');
}

@font-face {
	font-family: 'Lato-Bold';
	src: url('../fonts/Lato-Bold.ttf');
}

@font-face {
	font-family: 'Lato-Light';
	src: url('../fonts/Lato-Light.ttf');
}

@font-face {
	font-family: 'tahoma';
	src: url('../fonts/tahoma.ttf');
}

/* Remove  arrows from nubmer field */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
select {
	width:100px;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	border:2px solid #000;
	background:url('/assets/images/downarrow.png');
	background-repeat:no-repeat;
	background-size:30px 30px;
  background-position: 256px 6px;
}
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-webkit-user-drag: none;
	-ms-content-zooming: none;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	word-wrap: break-word;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	font-size-adjust: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	font-family: 'Lato', sans-serif;
}

a {
	color: unset !important;
	text-decoration: unset !important;
}

p,
ul {
	margin: 0px !important;
}

.close-btn {
	position: absolute;
	top: 20px;
	right: 20px;
	background: url(../icon/close.png) no-repeat;
	height: 25px;
	width: 25px;
	background-size: contain;
	-webkit-filter: invert(100%);
	filter: invert(80%);
	cursor: pointer;
}

.copyright {
	font-size: 10px;
	position: absolute;
	color: #eaeaea;
	bottom: 20px;
	left: 10px;
}

.logo {
	position: absolute;
	margin-left: 20px;
}

.animated {
	animation-duration: 1s !important;
	-webkit-animation-duration: 1s !important;
}

.delayed-anime {
	animation-delay: 1s !important;
	-webkit-animation-delay: 1s !important;
}

.fp-controlArrow {
	border: none !important;
	width: 25px !important;
	height: 25px !important;
	bottom: 20px !important;
	top: unset !important;
}

.fp-prev {
	left: unset !important;
	right: 90px !important;
	background: url('../icon/left.png') no-repeat;
}

.fp-next {
	left: unset !important;
	right: 15px !important;
	background: url('../icon/right.png') no-repeat;
}

.carousal {
	font-size: 1.9rem;
	position: absolute;
	margin: auto;
	color: #666666;
	bottom: 2vh;
	right: 50px;
	z-index: 3;
}

.carousal span {
	padding: 0px 2px;
	cursor: pointer;
}

.carousal .highlight {
	color: white;
}

.connect {
	position: absolute;
	right: 50px;
	top: 55%;
	display: flex;
	flex-flow: row;
	color: white;
	z-index: 2;
	transform: rotate(90deg);
	transform-origin: 100% 100%;
	font-size: 0.8rem;
}

.connect span {
	padding: 0px 30px;
	position: relative;
}

.connect span a::before {
	content: '';
	height: 2px;
	width: 0%;
	top: 20px;
	position: absolute;
	background-color: white;
	transition: all 0.5s;
}

.connect span a:hover::before {
	width: 45%;
}

.connect-mobile {
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 1;
}

.linkedin {
	background: url("../icon/linkedin.png") no-repeat;
	background-size: 100%;
	width: 100%;
	height: 100%;
	display: inline-block;
	-webkit-filter: invert(100%);
	filter: invert(65%);
	margin-right: 20px;
	margin-bottom: 20px;

}
.linkedin:hover {
	background: url("../icon/linkedin.png") no-repeat;
	background-size: 100%;
	width: 100%;
	height: 100%;
	display: inline-block;
	-webkit-filter: invert(100%);
	filter: invert(65%);
	margin-right: 20px;
	margin-bottom: 20px;
	filter: brightness(100%);
}

.twitter {
	background: url("../icon/twitter.png") no-repeat;
	background-size: 100%;
	background-position: 0px 4px;
	width: 25px;
	height: 25px;
	display: inline-block;
	margin: 5px;
	-webkit-filter: invert(100%);
	filter: invert(65%);
}

.facebook {
	background: url("../icon/facebook.png") no-repeat;
	background-size: 95%;
	width: 25px;
	height: 25px;
	display: inline-block;
	margin: 5px;
	-webkit-filter: invert(65%);
	filter: invert(65%);
}

.scroll-btn {
	position: absolute;
	cursor: pointer;
	z-index: 1;
	bottom: calc(2vh + 8px);
	left: 20px;
	width: 20px;
	height: 35px;
	border-radius: 30px;
	border: 1.5px solid #bfbfbf;
	display: flex;
	justify-content: center;
}

.scroll-btn span {
	color: #bfbfbf;
	animation-duration: 2.5s;
	text-align: center;
	animation-iteration-count: infinite;
	animation-name: fadeInOut;
	display: inline-block;
	font-size: 0.9rem;
}

.fadeInLeftCustom {
	animation-name: fadeInLeftCustom;
	animation-duration: 1s;
}

@keyframes fadeInLeftCustom {
	0% {
		opacity: 0;
		transform: translate3d(-100px, 0, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInOut {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}
	100% {
		opacity: 1;
		transform: translateY(10px);
	}
}

.button-invert {
	filter: invert(100%);
}

.header {
	z-index: 2;
	width: 100%;
	padding: 20px 10px 20px 10px;
	position: fixed;
	top: 0;
	left: 0;
	transition: 1s all;
}

.header-invert {
	background-color: rgb(50, 51, 52);
}

.title {
	background: url('../images/logo_white.svg') no-repeat;
	background-position: left;
	width: 50px;
	height: 50px;
	position: absolute;
	left: 20px;
	top: 1vh;
	z-index: 1;
	cursor: pointer;
	transition: 0.25s all ease-in-out;
}

.title-color {
	background: url('../images/logo_color.svg') no-repeat;
	background-position: left;
}

.menu {
	list-style: none;
	padding: 0px;
	margin: 0px;
	text-align: center;
	display: flex;
	flex-flow: row;
	justify-content: flex-end;
	color: white;
}

.menu li {
	display: inline;
	position: relative;
	padding: 5px 15px;
	margin: 0px 10px;
	cursor: pointer;
}

.menu li span {
	z-index: 1;
	position: relative;
	font-size: 0.9rem;
	letter-spacing: 0.5px;
}

.menu li span::before {
	content: '';
	height: 2px;
	width: 0%;
	position: absolute;
	bottom: -60%;
	background-color: #f35d19;
	transition: all 0.5s;
}

.menu li span:hover::before,
.active-menu span::before {
	width: 100% !important;
}

.landing-page {
	width: 100%;
	height: 100%;
}

.slide {
	background-size: cover !important;
	background-position: bottom right !important;
	color: white;
	position: relative;
}

#campFire {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-width: 100vw;
	width: 100vw;
	min-height: 100vh;
	z-index: -1;
	object-fit: fill;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	/* Safari and Chrome */
	-moz-transform: rotateY(180deg);
	/* Firefox */
	background: rgba(6, 3, 2, 1);
}

.slide-1 {
	background-position: bottom right;
	background: url('../images/bg_1.jpg') no-repeat;
}

.slide-2 {
	background-position: bottom left !important;
	background: url('../images/bg_2.jpg') no-repeat;
}

.slide-3 {
	background: url('../images/bg_3.jpg') no-repeat;
}

.slide-4 {
	background: url('../images/bg_4.jpg') no-repeat;
}

.testimonial-box {
	max-width: 40vw;
	position: relative;
	top: -25px;
}

.testimonial-content {
	max-width: 960px;
	position: relative;
	text-align: center;
	padding-top: 15px;
}

.expanded-box {
	max-width: 45vw !important;
}

.float-right {
	float: right;
	margin-right: 8vw;
}

.float-left {
	float: left;
	margin-left: 8vw;
}

.float-center {
	margin: auto;
	text-align: center;
}

.pro-select{
	width: 50%;
}
.mba-section{
	width: 50%;
	padding-top: 29px;
}
.dev-section{
	width: 50%;
}
.second-section{
	display: flex;
	margin-top: 25px;
}
.big-text {
	font-size: 3rem;
	display: block;
	margin-left: 10vw;
	font-family: 'Merriweather';
	font-weight: lighter;
}

.bigger-text {
	font-size: 1.2rem;
	display: block;
	font-family: 'Merriweather';
	font-weight: 100;
	line-height: 1.875rem;
}

.mid-text {
	font-size: 1rem;
	display: block;
	font-style: italic;
	margin-bottom: 15px;
	font-family: 'Merriweather';
	line-height: 1.5;
	color: #e0e0e0;
}

.middle-text {
	font-size: 1rem;
	margin-top: 10px;
	line-height: 1.875em;
	color: #c2c2c2c2;
	display: block;
	font-family: 'Merriweather';
}

.small-text {
	font-size: 1.15rem;
	display: block;
	color: #AAAAAA;
	margin-left: 10vw;
}

.mobile-view {
	display: none !important;
}

.annotation-1 {
	color: white;
	font-size: 1.25rem;
	display: block;
	margin-top: 15px;
	text-align: center;
	font-weight: bold;
	letter-spacing: 0.03rem;
}

.annotation-2 {
	color: white;
	font-size: 0.9rem;
	display: block;
	margin-top: 5px;
	text-align: center;
	font-weight: lighter;
	letter-spacing: 0.03rem;
}

.mugshot-steve {
	width: 197px;
	height: 197px;
	margin: auto;
	background: url('../images/steve.png') no-repeat;
	background-size: cover;
}

.mugshot-devin {
	width: 197px;
	height: 197px;
	margin: auto;
	background: url('../images/devin.png') no-repeat;
	background-size: cover;
}

.ellie-mae-logo {
	background: url('../images/elliemae-proselect.png') no-repeat;
	width: 123px;
	height: 121px;
	display: block;
	margin: auto;
	background-size: 100%;
}
.mba-logo {
	background: url('../images/mba.png') no-repeat;
	width: 186px;
	height: 100px;
	display: block;
	margin: auto;
	background-size: 100%;
}
.encompass-logo {
	background: url('../images/ellimae-dev.png') no-repeat;
	width: 133px;
	height: 131px;
	display: block;
	margin: auto;
	background-size: 100%;
}
.page-3 .block-1 {
	height: 560px;
	display: flex;
	flex-flow: row;
	position: relative;
}

.page-3 .block-1 .sub-block-1 {
	width: 50%;
	background-image: url('../images/3_3.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.page-3 .block-1 .sub-block-2 {
	width: 50%;
	display: flex;
	flex-flow: row;
	min-width: 275px;
}

.page-3 .block-1 .sub-block-2 .sub-sec-1 {
	display: flex;
	flex-flow: column;
	min-width: 275px;
	flex-grow: 1;
}

.page-3 .block-1 .sub-block-2 .sub-sec-2 {
	width: 50%;
	background: url('../images/3_6.png') no-repeat;
	background-size: cover;
	flex-shrink: 1;
}

.page-3 .block-1 .sub-block-2 .sub-sec-1 .upper-sec {
	height: 35%;
	background: url('../images/3_4.png') no-repeat;
	background-size: cover;
}

.page-3 .block-1 .sub-block-2 .sub-sec-1 .lower-sec {
	height: 65%;
	background: url('../images/3_5.png') no-repeat;
	background-size: cover;
	background-position: center;
}

.page-3 .block-2 {
	background: rgb(245, 246, 247);
}

.page-3 .block-3 {
	background: white;
}

.page-3 .block-4 {
	background: url('../images/team-bg.png') no-repeat;
	background-size: contain;
}

.page-3 .block-5 {
	background: #f3f3f3;
}

.about-us {
	color: #333333;
	height: 100%;
	max-width: 960px;
	display: flex;
	flex-flow: row;
	margin: auto;
	justify-content: center;
}

.about-us-left {
	min-width: 230px;
	height: 250px;
	position: relative;
	color: #333333;
	font-weight: 400;
	margin: 50px 30px 30px 0px;
	font-size: 3rem;
	border-top: 4px solid #588DD6;
}

.about-us-left div {
	width: 70%;
	margin-top: 10px;
	white-space: pre-wrap;
}

.about-us-right {
	margin: 50px 0px 40px 100px;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	position: relative;
	top: -10px;
}

.about-us-right p,
.about-us-right li,
.about-us-right strong,
.about-us-right span {
	color: #666666;
	font-family: 'Merriweather', serif;
	font-size: 1rem;
	line-height: 1.8rem;
	font-weight: 100;
}

.about-us-right strong {
	font-weight: bold;
}

.about-us-right ul {
	padding-top: 30px;
	padding-left: 20px;
}

.about-us-right li,
.about-us-right li span {
	padding-left: 1.5%;
	font-size: 1rem;
	line-height: 1.8;
}

.our-strengths {
	max-width: 960px;
	margin: auto;
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
}

.our-strengths-title {
	text-align: center;
	font-weight: 400;
	font-size: 1.5rem;
	color: #333333;
	padding-top: 50px;
}

.our-strengths-content {
	color: #666666;
	font-family: 'Merriweather', serif;
	font-size: 1rem;
	line-height: 1.8rem;
	font-weight: 100;
	text-align: center;
	padding: 22px 0px 50px 0px;
}

.our-strengths-content strong {
	font-family: 'Merriweather', serif;
	font-size: 1rem;
	line-height: 1.8rem;
	font-weight: 700;
}

.about-team {
	max-width: 960px;
	margin: auto;
	height: 100%;
	position: relative;
	display: flex;
	flex-flow: column;
}

.about-team-title {
	font-weight: 400;
	font-size: 1.5rem;
	color: #333333;
	padding: 50px 0px 0px 0px;
	text-align: center;

}

.about-team-content {
	color: #666666;
	padding: 22px 0px 50px 0px;
	font-family: 'Merriweather', serif;
	font-size: 1rem;
	line-height: 1.8rem;
	font-weight: 100;
	text-align: center;

}

.about-team-content a {
	color: blue !important;
	font-family: 'Merriweather', serif;
	font-weight: 100;
	font-size: 1rem;
	line-height: 1.8rem;
}

.about-team-content a:hover {
	text-decoration: underline !important;
}

.about-team-content strong {
	font-family: 'Merriweather', serif;
	font-size: 1rem;
	line-height: 1.8rem;
	font-weight: 700;
}

.about-team-team {
	padding-bottom: 40px;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
}

.about-team-team::after {
	content: '';
	width: 25%;
	min-width: 230px;
	max-width: 230px;
}

.team-member {
	width: 25%;
	max-width: 230px;
	min-width: 230px;
	display: flex;
	flex-flow: column;
	position: relative;
	justify-content: center;
	align-self: flex-start;
	transition: all 1s;
}

.fade-member {
	filter:opacity(25%);
}

.member-pic {
	width: 230px;
	height: 230px;

	filter: grayscale(100%);
}

.member-pic:hover,
.member-active {
	filter: grayscale(0%);
}

.member-name {
	font-family: 'Lato';
	font-size: 1rem;
	letter-spacing: 0.03rem;
	line-height: 2.2rem;
	font-weight: 100;
	color: #666666;
	padding-bottom: 20px;
}

.member-title {
	font-family: 'Lato-Light';
	font-size: 12px;
	padding-bottom: 25px;
}

.member-desc {
	display: none;
	position: absolute;
	z-index: 1;
	padding: 15px 25px;
	top: 230px;
	right: 0px;
	background: white;
	width: 960px;
	color: #333333;
}

.member-desc h3 {
	margin-top: 0px;
	margin-bottom: 10px;
	font-family: 'Lato';
	font-weight: 400;
	color: #333333
}

.member-desc p, .member-desc a, .member-desc li{
	font-family: 'Merriweather', serif;
	font-weight: 100;
	font-size: .85rem;
	line-height: 1.5rem;
	color: #666666
}

.member-desc a:hover {
	text-decoration: underline !important;
}
.member-desc p {
	padding-bottom: 15px;
}

.member-desc a {
	color: blue !important;
}

.vision {
	max-width: 960px;
	margin: auto;
	height: 100%;
	position: relative;
	display: flex;
	flex-flow: column;
	padding-bottom: 50px;
	text-align: center;
}



.vision-title {
	text-align: center;
	font-weight: 400;
	font-size: 1.5rem;
	color: #333333;
	padding: 50px 0px 22px 0px;
}

.vision p {
	color: #666666;
	font-family: 'Merriweather', serif;
	font-weight: 100;
	font-size: 1rem;
	line-height: 1.8rem;
}

.vision b {
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-size: 1rem;
}
.vision ul {
	padding-bottom: 10px;
}

.vision li {
	font-family: 'Merriweather', serif;
	font-weight: 100;
	color: #666666;
	font-size: 1rem;
	padding-bottom: 10px;
	line-height: 2rem;
	padding-left: 1.5%;
}

/* Page 2 - Our Offerings  */

.page-2 .block-1 {
	margin-top: 50px;
	display: flex;
	flex-flow: row;
	position: relative;
}

.offerings-bar {
	border-top: 4px solid #588DD6;
	width: 230px !important;
	margin-bottom: 18px;
}

.offerings {
	/* padding-top: 30px; */
	color: #666666;
	/* width: 100%; */
	/* height: 100%; */
	width: 960px;
	display: flex;
	flex-flow: row;
	margin: auto;
	justify-content: center;
	padding-bottom: 50px;
}

/* Offerings Left CSS  */

.offerings-left {
	width: 360px;
	position: relative;
	color: #333333;
	/* margin: 30px 0px; */
}

.ourofferings {
	font-family: 'Lato';
	font-weight: 400;
	font-size: 3rem;
}

.offerings-left div {
	/* margin-top: 10px; */
}

.ourofferings-leftcontent {
	margin-top: 50px !important;
}

.left-list {
	font-family: 'Merriweather', serif;
	letter-spacing: .5px;
	line-height: 1.8rem;
	padding-left: 49%;
	padding-top: 40%;
	text-align: right;
	font-size: 1rem;
}

.image-left {
	padding-top: 5%;
	margin-left: 5.6px;
}

.right-text {
	display: flex;
}

.info-left {
	font-family: 'Merriweather', sans-serif;
	line-height: 1.8rem;
	font-size: 1rem;
	letter-spacing: .5px;
	padding-top: 21% !important;
	text-align: right;
}

.info-right {
	font-family: 'Merriweather', serif;
	font-size: 1rem;
	letter-spacing: .5px;
	line-height: 1.8rem;
	padding-top: 96px;
	text-align: left;
	top: 19.5%;
	left: 53%;
	padding-left: 3%;
	width: 400px;
	color: #333333;

}

/* Offerings Right CSS */

.offerings-right {
	width: 600px;
	/* margin: 30px 0px; */
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	margin-left: 25px;
}

.offerings-right ul {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 18px;
}

.offerings-right p,
.offerings-right li {
	font-family: 'Merriweather', sans-serif;
	font-size: 1rem;
	font-weight: 100;
	line-height: 1.8rem;
	padding-left: 3%;
}

.offering-title {
	font-family: 'Merriweather', sans-serif;
	font-size: 1rem;
	line-height: 1.8rem;
	color: black;
}

.offerings-right ul {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Image CSS  */

.image-right {
	padding-top: 5%;
}

.house-dollar {
	background: url(../images/house-dollar.png) no-repeat;
	background-size: cover;
	height: 50px;
	width: 50px;
	margin-left: 86%;
	margin-top: 5%;
}

.house-key {
	background: url(../images/house-key.png) no-repeat;
	background-size: cover;
	height: 125px;
	width: 125px;
	margin-top: 20px;
}

.dashboard {
	background: url(../images/dashboard.png) no-repeat;
	background-size: cover;
	margin-top: 20px;
}

/* Page 2 - What we do  */

.middle {
	padding-top: 50px;
	padding-bottom: 50px;
	width: 960px;
	margin: auto;
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
}

.middle-heading {
	font-weight: 400;
	font-size: 1.5rem;
	color: #333333;
	text-align: center;
}

.middle-content {
	color: #666666;
	font-size: 1rem;
  padding-top: 22px;
	line-height: 1.8rem;
	font-weight: 100;
	font-family: 'Merriweather', serif;
	text-align: center;

}

/* Page 2 - Our Customers  */

.our-customers {
	width: 960px;
	padding-top: 50px;
	padding-bottom: 50px;

	margin: auto;
	height: 100%;
	position: relative;
	flex-flow: column;
}

.our-customers-heading {
	font-weight: 400;
	font-size: 1.5rem;
	color: #333333;
	text-align: center;
}

.our-customers-content {
	color: #666666;
	/*
	font-size: 1.1rem;
	line-height: 1.9rem;
*/
}

.our-customers-content img {
	margin-top: 5%;
	display: block;
	margin: auto;
	padding-top: 5%;
	width: 250px;
}

.our-customers-content p {
	margin-top: 5% !important;
	font-size: 1rem;
	line-height: 1.8rem;
	font-weight: 100;
	font-family: 'Merriweather', serif;
	text-align: center;
}

.our-customers-content a {
	color: blue !important;
	font-family: 'Merriweather', serif;
}


.our-customers-content a:hover {
	color: blue !important;
	font-family: 'Merriweather', serif;
	text-decoration: underline !important;
}

/*Tribal Leaddership CSS */

.page-4 .block-1 {
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	flex-flow: row;
	position: relative;
}

.page-4 .block-2 {
	background-color: #F6F6F6;
}

.tribal-title {
	font-family: 'Merriweather';
	font-size: 1rem;
	line-height: 1.8rem;
	font-weight: 100;
}

.triballeadership {
	color: #666666;
	width: 960px;
	display: flex;
	flex-flow: row;
	margin: auto;
	justify-content: center;
}

.tribal-left {
	width: 350px;
	position: relative;
	color: #333333;
	font-weight: 100;
	margin: 0px 12px 30px 0px;
}

.tribal-content {
	padding-top: 22px;
	font-family: 'Merriweather';
	font-size: 1rem;
	font-weight: 100;
	line-height: 1.8rem;
}

.tribal-right {
	width: 650px;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
}

.tribal-bar {
	border-top: 4px solid #588DD6;
	width: 242px !important;
	margin-bottom: 28px;
}

.tribal-content a {
	color: blue !important;
	font-family: 'Merriweather';
}

.tribal-content a:hover {
	color: blue !important;
	font-family: 'Merriweather';
	text-decoration: underline !important;
}

.tribal-content-bottom {
	color: #666666;
	font-size: 1rem;
	line-height: 1.8rem;
	margin-top: 22px !important;
	text-align: center;
}

.tribal-content-bottom a {
	color: blue !important;
	font-family: 'Merriweather';
}

.tribal-content-bottom a:hover {
	color: blue !important;
	font-family: 'Merriweather';
	text-decoration: underline !important;
}

.tribal-content-bottom p {
	font-family: 'Merriweather', serif;
	font-weight: 100;
	font-size: 1rem;
	line-height: 1.8rem;

}

.tribal-content-bottom li {
	font-family: 'Merriweather', sans-serif;
	font-size: 1rem;
	font-weight: 100;
	line-height: 2rem;
	padding-left: 3%;
}

.page-2 .block-2 {
	background-color: #F6F6F6;
}

.our-take {
	width: 960px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: auto;
	height: 100%;
	position: relative;
	flex-flow: column;
}

.Tribal-Leadership {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row;
	justify-content: center;
	padding-bottom: 60px;
}

/*Join our tribe CSS */

.page-5 .block-1 {

}

.page-5 .block-2 {
	background: #fff;
	padding-top: 50px;
	padding-bottom: 50px;
}


.page-5 {
	background-color: #424244;
	color: white;
}

.joinourtribe {
	font-family: 'Lato';
	font-weight: 400;
	font-size: 3rem;
	color: white;
}

.join-our-tribe {
	color: #666666;
	width: 960px;
	display: flex;
	flex-flow: row;
	margin: auto;
	justify-content: center;
	margin-bottom: 60px;
}

.row-1 {
	width: 100%;
	display: flex;
	margin-bottom: 22px;
}

.row-2 {
	width: 100%;
	display: flex;
	margin-bottom: 22px;
}

.row-3 {
	width: 100%;
	display: flex;
}

.resume-fields input {
	background-color: #424244;
	border: 1px solid #9E9E9F;
	height: 40px;
	width: 290px;
	margin-left: 20px;
	margin-top: 10px;
	color: white;
	font-size: .875rem;
  font-weight: 100;
	font-family: 'Merriweather', serif;
	padding: 10px;
}

.upload{
	padding-bottom: 10px;
	margin-left: 20px;
	font-size: 0.875rem;
	letter-spacing: 0.03rem;
	color: #cccccc;
}

.resume-fields select {
	background-color: #424244;
	border-radius: 0px !important;
	border: 1px solid #9E9E9F;
	height: 40px;
	width: 290px;
	margin-left: 20px;
	margin-top: 10px;
	color: white;
	font-family: 'Merriweather', serif;
	font-size: .875rem;
  font-weight: 100;
	padding: 10px;
}


.resume-fields label {
	color: #cccccc;
	height: 50px;
	width: 290px;
	margin-left: 20px;
	font-size: 0.875rem;
	letter-spacing: 0.03rem;
}

.file {
	width: 600px !important;
	height: 50px !important;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}

.file+label {
	width: 100%;
	font-family: 'Lato-Bold';
	font-size: 0.875rem;
	letter-spacing: 0.03rem;
	color: #6699CC;
	font-weight: 400;
	text-align: center;
	padding: 16px;
	background-color: white;
}

.send {
	margin-top: 30px;
	width: 100%;
	font-family: 'Lato-Bold';
	font-size: 0.875rem;
	letter-spacing: 0.03rem;
	color: white;
	text-align: center;
	padding: 10px;
	margin-left: 20px;
	background-color: #FFA658;
	border: 0px;
	height: 50px;
}

.send:hover {
	background-color: #ff8e2b;
}

.response-content-1 p {
	font-family: 'Merriweather', serif;
	font-weight: 100;
	font-size: 1rem;
	line-height: 1.8rem;
	color: white;
}
.response-content p {
	margin-top: 22px !important;
	font-family: 'Merriweather', serif;
	font-weight: 100;
	font-size: 1rem;
	line-height: 1.8rem;
	color: white;
}
.joinourtribe-content-1 p {
	font-family: 'Merriweather', serif;
	font-weight: 100;
	font-size: 1rem;
	line-height: 1.8rem;
}

.joinourtribe-content p {
	margin-top: 22px !important;
	font-family: 'Merriweather', serif;
	font-weight: 100;
	font-size: 1rem;
	line-height: 1.8rem;
}
.joinourtribe-content i {
	font-family: 'Merriweather', serif;
	font-weight: 100;
	font-size: 1rem;
	line-height: 1.8rem;
}
.send-resume {
	width: 300px;
	height: 50px;
  margin-top: 40px;
	background-color: #FFA658;
	color: white;
	border: 0px;
	font-family: 'Lato-Bold';
  font-size: 0.875rem;
	letter-spacing: 0.03rem;
}

.send-resume:hover {
	background-color: #ff8e2b;
}
.back {
	width: 300px;
	height: 50px;
  margin-top: 40px;
	background-color: #FFA658;
	color: white;
	border: 0px;
	font-family: 'Lato-Bold';
  font-size: 0.875rem;
	letter-spacing: 0.03rem;
}

.back:hover {
	background-color: #ff8e2b;
}

.joinourtribe-white {
	font-family: 'Lato';
	font-weight: 400;
	font-size: 3rem;
}

.triballeadership-white {
	color: #666666;
	width: 960px;
	display: flex;
	flex-flow: row;
	margin: auto;
	justify-content: center;
}

.tribal-right-white {
	width: 650px;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	font-family: 'Merriweather', sans-serif;
	font-size: 1.2rem;
	font-weight: 100;
	letter-spacing: 5%;
}

.pic-block {
	/* width: 100%; */
	display: flex;
	flex-flow: row;
	position: relative;
	height: 689px;
}

.people-pic {
	background-image: url('../images/tribal.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.hand-pic {
	background-image: url('/assets/images/people-pic.png');
	width: 477px;
	height: 690px;
	background-repeat: no-repeat
}

/* Contact Us */

.page-6 .block-1 {
	/* margin-top: 69px; */
	height: 550px;
	background-color: rgb(50, 51, 52);
	background-image: url("../images/map.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.page-6 .block-3 {
	background: #f6f6f6;
	width: 100%;
	position: relative;
}

.contact-us {
	color: #333333;
	height: 100%;
	max-width: 960px;
	display: flex;
	flex-flow: row;
	margin: auto;
	justify-content: center;
}

.contact-us-left {
	min-width: 230px;
	position: relative;
	color: #333333;
	font-weight: 400;
	margin: 50px 30px 30px 10px;
	font-size: 3rem;
	border-top: 4px solid #588DD6;
}

.contact-us-left div {
	width: 80%;
	margin-top: 10px;
	white-space: pre-wrap;
}

.contact-us-right {
	margin: 50px 10px 50px 80px;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	position: relative;
	top: -10px;
}

.contact-us-right p,
.contact-label,.contact-us-right i {
	font-family: 'Merriweather', serif;
	font-weight: 100;
	font-size: 1rem;
}
.contact-us-right p {
	font-family: 'Merriweather', serif;
	font-weight: 100;
	font-size: 1rem;
	line-height: 1.8rem;
}

.contact-row {
	width: 100%;
	display: flex;
}

.contact-row>div {
	width: 50%;
}

.contact-row input,
.contact-row .contact-label {
	width: 95%;
}
/* .resume-fields input {
	background-color: #424244;
	border: 1px solid #9E9E9F;
	height: 50px;
	width: 290px;
	margin-left: 20px;
	margin-top: 20px;
	color: white;
	font-size: 1.2rem;
	padding: 10px;
} */
.contact-row input {
	border: 1px solid #999999;
	padding: 10px 10px;
	height: 40px;
	width: 290px;
	margin-left: 20px;
	margin-top: 10px;
	font-size: .875rem;
	font-family: 'Merriweather';
	color: #333333
}

/* .resume-fields label {
	color: white;
	height: 50px;
	width: 290px;
	margin-left: 20px;
	font-size: 1rem;
	letter-spacing: 0.03rem;
} */
.contact-us .contact-label {
	font-family: 'Lato-Bold';
	color: #666666;
	font-size: 0.875rem;
	letter-spacing: 0.03rem;
	padding-bottom: 0px;
	margin-top: 20px;
	font-weight: 400;
	margin-left: 20px;
}

.contact-us .contact-label-1 {
	font-family: 'Lato';
	font-size: 1rem;
	letter-spacing: 0.03rem;
	padding-bottom: 0px;
	white-space: nowrap;
	margin-top: 20px;
	font-weight: 400;
}

.contact-us-section textarea {
	width: 600px;
	height: 200px;
	resize: none;
	border: 1px solid #999999;
	margin-bottom: 30px;
	padding: 10px 10px;
	margin-left: 20px;
	margin-top: 10px;
	font-size: 0.875rem;
	font-family: 'Merriweather';
}
.contact-us-section {
margin-left: -20px;
}

.contact-submit {
	width: 600px !important;
	padding: 15px;
	background-color: #FFA658;
	color: white;
	text-align: center;
	font-family: 'Lato-Bold';
	font-size: 0.875rem;
	letter-spacing: 0.03rem;
	margin-left:20px;
	height: 50px;
}
.contact-submit:hover {
	background-color: #ff8e2b;
}

.contact-back{
margin-top: 20px;
width: 300px;
padding: 15px;
background-color: #FFA658;
color: white;
text-align: center;
font-family: 'Lato-Bold';
font-size: 0.875rem;
letter-spacing: 0.03rem;
height: 50px;
}
.contact-back:hover {
	background-color: #ff8e2b;
}

.contact-us-reach {
	color: #333333;
	height: 100%;
	max-width: 960px;
	display: flex;
	flex-flow: column;
	margin: auto;
}
.contact-us-reach-content div {
	font-family: 'Merriweather', serif !important;
	line-height: 1.8rem;
}
.contact-us-reach-content a{
	font-family: 'Merriweather', serif !important;
	line-height: 1.8rem;
	color: blue !important;
}
.contact-us-reach-content a:hover{
	font-family: 'Merriweather', serif !important;
	line-height: 1.8rem;
	color: blue !important;
	text-decoration: underline !important;
}
.contact-us-reach-title {
	font-weight: 400;
	font-size: 1.5rem;
	color: #333333;
	padding: 50px 10px 22px 10px;
}

.contact-us-reach-content {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	padding: 10px;
	padding-bottom: 50px;
	font-family: 'Merriweather', serif !important;
	font-size: 1rem;
}

/* .contact-us-email,
.contact-us-phone,
.contact-us-location {
	font-family: 'Merriweather', serif !important;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
} */

.contact-email-icon {
	background: url("../icon/mail.png") no-repeat;
	height: 50px;
	width: 50px;
}

.contact-phone-icon {
	background: url("../icon/phone.png") no-repeat;
	height: 50px;
	width: 50px;
}

.contact-location-icon {
	background: url("../icon/location.png") no-repeat;
	height: 50px;
	width: 50px;
}

.contact-usa {
	font-family: 'Merriweather', serif !important;
}

.contact-india,{
	font-family: 'Merriweather', serif !important;
	padding: 10px 0px;
}

.contact-padding {
	padding-bottom: 30px;
}

.contact-us-footer {
	background-color: rgb(50, 51, 52);
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	height: 70px;
	letter-spacing: 0.03rem;
	padding-top: 10px;
}

.contact-us-footer div {
	padding: 20px;
	color: #CCCCCC;
	font-size: 0.8rem;
	padding-left: 20px;

}

.contact-us-footer .push-down {
	padding-top: 20px;
}

.contact-us-footer .push-down span {
	padding: 0px 10px;
	cursor: pointer;
}
.contact-us-footer .push-down span:hover {
	filter: brightness(125%);
}
.supree {
	background: url("../images/color/supree.png") no-repeat;
	background-size: cover;
}

.deepan {
	background: url("../images/color/deepan.png") no-repeat;
	background-size: cover;
}

.divya {
	background: url("../images/color/divya.png") no-repeat;
	background-size: cover;
}

.jona {
	background: url("../images/color/jona.png") no-repeat;
	background-size: cover;
}

.gops {
	background: url("../images/color/gops.png") no-repeat;
	background-size: cover;
}

.abhi {
	background: url("../images/color/abhi.png") no-repeat;
	background-size: cover;
}

.peri {
	background: url("../images/color/peri.png") no-repeat;
	background-size: cover;
}

.kevin {
	background: url("../images/color/kevin.png") no-repeat;
	background-size: cover;
}

.kirupa {
	background: url("../images/color/kirupa.png") no-repeat;
	background-size: cover;
}

.pavi {
	background: url("../images/color/pavi.png") no-repeat;
	background-size: cover;
}

.you {
	background: url("../images/color/you.png") no-repeat;
	background-size: cover;
}
.contact-response{
	flex-direction: column;
}
@media screen and (max-width:1440px) {
	.people-pic {
	    background-image: url(../images/tribal.png);
	    background-repeat: no-repeat;
	    background-size: cover;
	    width: 100%;
	}
	.pic-block {
    /* width: 100%; */
    display: flex;
    flex-flow: row;
    position: relative;
    height: 505px;
}

.bigger-text {
	font-size: 1.2rem;
	display: block;
	font-family: 'Merriweather';
	font-weight: 100;
	line-height: 1.875rem;
}
.middle-text {
	font-size: 1rem;
	margin-top: 10px;
	line-height: 1.875em;
	color: #c2c2c2c2;
	display: block;
	font-family: 'Merriweather';
}
.ellie-mae-logo {
	background: url('../images/elliemae-proselect.png') no-repeat;
	width: 115px;
	height: 103px;
	display: block;
	margin: auto;
	background-size: 100%;
}
.mba-logo {
	background: url('../images/mba.png') no-repeat;
	width: 173px;
	height: 93px;
	display: block;
	margin: auto;
	background-size: 100%;
}
.encompass-logo {
	background: url('../images/ellimae-dev.png') no-repeat;
	width: 130px;
	height: 129px;
	display: block;
	margin: auto;
	background-size: 100%;
}
.middle-text {
    font-size: 0.8rem;
    margin-top: 10px;
    line-height: 1.5em;
    color: #c2c2c2c2;
    display: block;
    font-family: 'Merriweather';
}
.bigger-text {
    font-size: 1rem;
    display: block;
    font-family: 'Merriweather';
    font-weight: 100;
    line-height: 1.5rem;
}


}

@media screen and (max-width:500px) {
	.menu-box,
	.fp-controlArrow,
	.connect,
	.scroll-btn,
	.large-screen {
		display: none;
	}
	.logo {
		position: absolute;
		margin-left: 7px;
		margin-top: -11px;
	}
	.color-outer {
		background-color: #5a90ce;
	}
	.color-inner {
		background-color: #f3a74a
	}
	.menu-box {
		position: absolute;
		height: 100vh;
		width: 100vw;
		left: 0;
		top: 0;
		background: #0e1922;
	}
	.menu-box .menu {
		flex-flow: column;
		justify-content: center;
		margin-top: 50% !important;
	}
	.menu li::before {
		top: 100%;
		left: 30%;
	}
	.menu li:hover::before,
	.active-menu::before {
		width: 40% !important;
	}
	.menu li span {
		font-size: 1rem;
	}
	.mobile-view {
		display: block !important;
	}
	.content-box,
	.testimonial-box {
		background: rgba(0, 0, 0, 0.5);
		padding: 30px 10px;
	}
	.big-text {
		font-size: 2.2rem;
	}
	#campFire {
		-webkit-transform: rotateY(180deg) translateX(-200px);
		transform: rotateY(180deg) translateX(-200px);
	}
	.slide-1 {
		background-position: 87% 100% !important;
		background: transparent;
	}
	.slide-1 .fp-tableCell {
		position: relative;
		top: -140px;
	}
	.slide-2 {
		background-position: 35% 100% !important;
	}
	.slide-2 .testimonial-box {
		margin-right: 10px !important;
	}
	.mid-text {
		font-size: 0.8rem;
		font-family: 'Merriweather', serif;
		;
	}
	.annotation {
		font-size: 0.7rem;
		margin-top: 10px;
		font-family: 'Merriweather', serif;
		;
	}
	.slide-3 .testimonial-box {
		float: right !important;
		margin-left: 0;
		margin-right: 10px;
	}
	.slide-4 {
		background-position: 70% 100% !important;
	}
	.slide-4 .testimonial-box {
		position: relative;
		top: -50px;
	}
	.slide-4 .bigger-text {
		font-size: 1rem;
		font-family: 'Merriweather', serif;
		;
	}
	.page-3 .block-1 {
		margin-top: 0px;
	}
	.about-us,
	.our-strengths,
	.about-team,
	.vision,
	.contact-us,
	.contact-us-reach {
		flex-wrap: wrap;
		max-width: 85vw;
		justify-content: flex-start;
	}
	.about-us-left,
	.contact-us-left {
		align-self: flex-start;
	}
	.about-us-right,
	.contact-us-right {
		margin-top: 10px;
		margin-left: 10px;
	}
	.about-team-team {
		justify-content: center;
		padding-top: 15px;
	}
	.team-member {
		width: 100%;
	}
	.member-pic {
		align-self: center;
	}
	.member-title,
	.member-name {
		text-align: center;
	}
	.member-desc {
		width: 85vw;
	}
	.contact-us .contact-label {
		font-size: 1rem;
	}
	.contact-us-reach-content {
		flex-flow: column;
	}
	.contact-us-reach-content div {
		margin-bottom: 10px;
	}

	.spin-css{
		color: black;
		display: block;
		float: right;
		margin: auto;
		font-size: 1.5rem;
	}
}
